:root {
    /* colors */
    --secundary: #6218cd;
    --clear: #fff;
    --primary: rgba(33, 154, 209, 0.96);
    --dark: #000;
    --third: rgba(66, 89, 207, 0.96);
    /* Fonts */
    --title: 16px;
    --par: 14px;
    /* spacing */
    --primary-margin: 16px;
    --menu-icon-line-height: 5px;
}