@import 'vars';

.bio{
    background-color: var(--clear);
    color: var(--dark);
}
.bio-container{
    display: flex;
    flex-wrap: wrap;
}
.bio-description {
    border: 3px solid var(--dark);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: var(--par);
    align-self: center;
    font-size: 18px;
}
.bio-fotoPerfil{
    border-radius: 50%;
    margin: 0 30px;
    border: 3px solid var(--dark);
    width: 100%;
}

.button--primary {
    border-radius: 10px;
    color: var(--secundary);
    border: 2px solid var(--secundary);
    height: 30px;
    cursor: pointer;
}
.button--primary:active {
    border: 5px solid var(--third);
}
@media (min-width: 920px) {
    .bio-container{
        flex-wrap: nowrap;
    }
}
@media (min-width: 620px) {
    .bio-container{
        flex-wrap: nowrap;
    }
}