@import 'vars';

footer {
    background-color: var(--secundary);
    text-align: center;
    color: var(--clear);
}
.footer-info{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}