@import 'vars';

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: black;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}