@import "vars";
// Movile
.menu {
  margin-bottom: 70px;

  display: grid;
}

.menu-logo {
  display: flex;
  justify-content: center;
  align-self: center;
}

.menu-logo img {
  width: 130px;
  height: 133px;
}
.menu-pages {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.menu-pages img {
  width: 60px;
  height: 50px;
  margin: auto;
}

.menu-pages h3 {
  color: var(--clear);
  text-align: center;
  margin: 0;
  font-weight: bold;
}

// Desktop
@media (min-width: 920px) {
  .menu {
    height: 100%;
    margin-bottom: 10px;
  }
  .menu-logo {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .menu-nav {
    justify-content: center;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .menu-pages {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
  }
}
