@import 'vars';
.projects {

}

.projects-container {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 16px;
    padding: 0 16px 20px 0;
}

@media (min-width: 920px) {
    .projects-container{
        flex-wrap: wrap;
        overscroll-behavior:initial;
        overflow-x:visible;
        max-width: 1266px;
        margin: 0 auto;
    } 
}